<div id="contact">
    <div id="contact" class="container footer_container">
        <h1 class="heading footer_heading"><%= __('contact_us') %></h1>
        <div class="divider dark_divider"></div>
        <p class="text">
            <%= __('contact_text') %>
        </p>
        <h1 class="heading footer_telephone">+372 53 311 559</h1>

        <div class="social_media">
            <a href="https://www.facebook.com/" class="icon-link">
                <div class="icon-box">
                    <img src="./assets/icons/facebook.svg" alt="facebook" class="icon-img">
                </div>
            </a>
            <a href="#" class="icon-link">
                <div class="icon-box">
                    <img src="./assets/icons/tiktok.svg" alt="tiktok" class="icon-img">
                </div>
            </a>
            <a href="#" class="icon-link">
                <div class="icon-box">
                    <img src="./assets/icons/mail.svg" alt="mail" class="icon-img">
                </div>
            </a>
            <a href="#" class="icon-link">
                <div class="icon-box">
                    <img src="./assets/icons/phone.svg" alt="phone" class="icon-img">
                </div>
            </a>
        </div>
        <div class="footer_data">
            <div class="info">
                <h2>EXPLORER<br> HAIR STUDIO</h2>
                <p>Explorer Hair Studio OÜ</p>
                <p>Registrikood: 16269804</p>
                <p>Kai 1, Tallinn</p>
                <p>+372 53 311 559</p>
                <p>info@explorerstudio.ee</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028.39692741391!2d24.750970877588426!3d59.443132174669636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692930432b16d7d%3A0x50ea54c9222ca037!2sExplorer%20Hair%20Studio!5e0!3m2!1sen!2see!4v1702684666562!5m2!1sen!2see"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

