<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
<form id="serviceRequestForm">
    <label for="services">Select Services:</label>
    <select multiple name="services" id="services">
        <option value="ServiceA">Service A</option>
        <option value="ServiceB">Service B</option>
        <option value="ServiceC">Service C</option>
    </select>
    <button type="submit">Check Workers</button>
</form>

<div id="results">
    <!-- Workers who can perform the requested services will be displayed here -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js" integrity="sha512-m9S8W3a9hhBHPFAbEIaG7J9P92dzcAWwM42VvJp5n1/M599ldK6Z2st2SfJGsX0QR4LfCVr681vyU5vW8d218w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="/js/components/workers.js"></script>
</body>
</html>
