@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Poppins:wght@400;500&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading_color: #494949;
    --primary_color: #d9c0ae;
    --primary_button_color: #b84e4e;
    --hover_button_color: #cf5d5d;
    --white_color: #ffffff;
    --text_color: #6e6e6e;

}

body {
    font-family: 'Poppins', sans-serif !important;
    color: var(--heading_color);
}

h4 {
    color: var(--heading_color) !important;
}

.transitional {
    color: var(--primary_color) !important;
    z-index: 1;
    margin-bottom: 2%;
    font-family: "Cormorant Garamond", serif;
}

.text {
    color: var(--text_color);
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    width: 33rem;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .text {
        width: 90%;
    }
}

/* Make the nav bar in top center */
.navbar-expand-lg .navbar-nav {
    margin: auto;
    gap: 10px
}

.navbar-collapse {
    display: flex;
}

.navbar-brand {
    margin-left: 60px !important; /* Adjust the value according to your design preference */
}


.nav-item {
    padding: 10px; /* This adds space around the links */
    margin: auto 0; /* This centers the links vertically */
}

.nav-item a, .nav-item.dropdown a {
    display: block; /* Makes the <a> fill the entire space of the <li> */
    text-decoration: none;
    color: var(--primary_color);
    text-transform: uppercase;

    padding: 10px 20px; /* Add padding to increase the clickable area */
    transition: color 0.3s; /* Smooth color transition for hover effect */
}

.nav-item:hover, .nav-item.dropdown a:hover {
    color: black !important;
    background-color: var(--primary_color); /* This changes the background color of the <li> on hover */
}

.nav-item a:hover, .nav-item.dropdown a:hover {
    background-color: var(--primary_color); /* Existing background color change on hover */
    color: black !important; /* Change text color to black on hover */
}

/* This will target only the dropdown items */
.nav-item.dropdown .dropdown-menu a:hover {
    color: black !important; /* Or any other color that is visible on your background */
}

/* Ensure the dropdown toggle does not change color when items are hovered */
.nav-item.dropdown > a.nav-link:hover {
    color: #39332f !important; /* Keep the original color or any color you want */
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

@media (max-width: 1080px) {
    .navbar-brand {
        margin-left: 5px !important; /* Adjust the value according to your design preference */
    }

    .navbar-nav {
        gap: 0;
    }

}


/* -welcome page- */
.container {
    position: relative;
    /* color: #000000;  replace with your color variable */
    overflow: hidden;
}

.model {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: auto;
    margin-left: 25%;
    display: block;
    /*background-repeat: no-repeat;
    background-image: url("assets/bg/homepage_bg.jpg");*/
}

.welcome_text_button {
    position: absolute;
    top: 20%;
    left: 37%;
    color: var(--white_color);
    text-align: center;
}

@media (max-width: 1300px) {
    .welcome_text_button {
        left: 30%;
    }
}

@media (max-width: 990px) {
    /* .welcome_text_button {
         top: 23%;
     }*/
}

@media (max-width: 680px) {
    .welcome_text_button {
        left: 26% !important;
        top: 17%;

    }

    .booking_link {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .welcome_text_button {
        left: 18% !important;
        top: 11%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slogan {
        font-size: 24px;
        max-width: 90%;

    }

    .booking_link {
        font-size: 10px;
        padding: 8px 15px;
    }
}

@media (max-width: 350px) {
    .welcome_text_button {
        left: 15% !important;
        top: 10%;

    }

    .slogan {
        font-size: 22px;
    }

    /*.booking_link{
        font-size: 10px;
        padding: 8px 15px;
    }*/
}

.booking_link {
    background-color: var(--primary_button_color); /* Set the initial background color */
    color: var(--white_color); /* Set the initial text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* Change the button color on hover */
.booking_link:hover {
    background-color: var(--hover_button_color); /* Change the background color on hover */
    color: var(--white_color); /* Change the text color on hover */
}

.bg_img {
    width: 110%;
    display: block;
    margin: 0; /* Remove any margins that might be limiting the width */
    padding: 0; /* Remove any padding that might be limiting the width */
    overflow-x: hidden;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important;
    padding: 0 !important;
}


.under_bg_img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1000;
    margin-top: -9%;
}

.material-symbols-outlined {
    display: flex;
    color: var(--primary_color);
    /*font-size: 35px;*/
    justify-content: center;
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.img5 {
    width: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 6%;
}

.img6 {
    width: 350px;
    padding-top: 8%;
    padding-bottom: 2%;
    z-index: 1;
}

.img7 {
    position: absolute;
    z-index: 0;
    margin-top: 10%;
}

.transitional_worker {
    margin-bottom: 0;

}

@media screen and (max-width: 990px) {
    .img7 {
        margin-top: 29%;
    }

    .heading {
        font-size: 50px !important;
    }

    .model {
        width: 73%;
        margin-left: 14%;
    }

    .bg_img {
        width: 164%;
        margin-left: -29%;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.heading {
    /* Add styles from fonts.heading */
    margin-top: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: var(--heading_color);
    font-size: 72px;
    z-index: 1;
    margin-bottom: 0;
    letter-spacing: 3px;
    text-align: center;
}

.worker-name {
    font-size: 38px;
    font-weight: normal;
    color: var(--heading_color); /* replace with your color variable */
    font-family: "Cormorant Garamond", serif;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 2%;
}

.divider {
    width: 100px;
    height: 2px;
    background: var(--primary_color);
    z-index: 1;
    margin: 40px auto
}

.divider2 {
    z-index: 1;
    height: 1px;
    width: 60px;
    background: var(--primary_color);
}

.slogan {
    color: var(--white_color);
    text-align: center;
}

/*services*/

.service_container {
    background: var(--white_color);
    background-repeat: no-repeat;
    /*background-position-y: 130px;*/
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 7%;
    background-image: url("assets/bg/service_bg.png");

}

.transitional_services {
    margin-top: 40px;
}

.service_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    column-gap: 200px;
    margin-bottom: 6%;
}

.services_box {
    text-align: center;
}

.service_text {
    width: 425px;
    margin: 0 auto 0 auto;
}

.service_name {
    color: var(--heading_color);
    font-weight: 500;
    font-size: 20px;
    /*margin: 0 auto 3% 0;*/
    margin: 9% 0;
}

.image {
    margin-top: 25%;
}

/*media screen services*/
@media screen and (max-width: 1150px) {
    .service_grid_container {
        column-gap: 100px;
    }

    .service_text {
        width: 70%;

    }
}

@media screen and (max-width: 990px) {
    .service_grid_container {
        column-gap: 70px;
    }

}

@media screen and (max-width: 700px) {
    .service_grid_container {
        grid-template-columns: repeat(1, 2fr);
    }


    .service_name {
        margin: 5% 0;

    }

    .image {
        margin-top: 5%;
        width: 35px;
    }

}

@media screen and (max-width: 330px) {
    .service_container {
        background-position-y: 200px;
    }
}


/*** -Own style- ***/
.ownStyle_container {
    background-position-y: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 7% !important;
}

.transitional_ownStyle {
    margin-top: 40px;
}

.text_ownStyle {
    margin-bottom: 7%;
}

.glide_container {
    width: 80%;
    display: flex;
}

.glide {
    max-width: 300px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container on the page */
}

.glide__track {
    height: 400px;
}

.glide__slides img {
    width: 100%; /* Make sure the image takes the full width of the container */
    height: 100%; /* Make sure the image takes the full height of the container */
    object-fit: cover; /* Ensure the entire image is visible without distortion */
}

/*media screen ownStyle*/
@media screen and (max-width: 1450px) {
    .glide_container {
        width: 100%;
        display: flex;
    }

    .glide {
        max-width: 300px; /* Set the maximum width of the container */
        margin: 0 auto; /* Center the container on the page */
    }

    .glide__track {
        height: 400px;
    }

    .glide__slides img {
        width: 100%; /* Make sure the image takes the full width of the container */
        height: 100%; /* Make sure the image takes the full height of the container */
        object-fit: cover; /* Ensure the entire image is visible without distortion */
    }
}

@media screen and (max-width: 910px) {
    .glide_container {
        flex-direction: column;
    }

}

/*prices*/

.prices_container::before,
.prices_container::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    width: 50%;
    height: 88px;
    background: #ceb19c;
}

.prices_container::before {
    left: 0;
    border-radius: 0 50px 0 0;
}

.prices_container::after {
    right: 0;
    border-radius: 50px 0 0 0;
}

.dark_divider{
    background: var(--heading_color);
}

.prices_container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 2%, rgba(206, 177, 156, 1) 2%);
    color: var(--heading_color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px; /* Adjust this value based on the height of the pseudo-elements */
}

.price_text {
    color: var(--heading_color);
}

.transitional_prices {
    margin-top: 100px;
    color: var(--heading_color) !important;
}

.price_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}

.price_card_container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make sure each container takes the full height */
    padding-bottom: 7%;
}

.men-child {
    display: flex;
    flex-direction: column;
}

.women {
    grid-column: span 1; /* Women takes two columns */
}

.material {
    grid-column: span 2; /* Material takes two columns */
    grid-row: span 2; /* Material spans two rows */
}

.service_name_pricelist {
    margin: 0 auto 3% 0;
    width: 80%;
    font-weight: 400;
}

span.price {
    text-align: end;
}

.price_card {
    position: relative;
    padding: 80px 15px;
    background: var(--primary_color);
}

.price_card::before,
.price_card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
    background: #d9c0ae;
    pointer-events: none;
}

.price_card::before {
    left: 0;
    border-radius: 0 60px 60px 0; /* Adjusted for top left and bottom left corners */
}

.price_card::after {
    right: 0;
    left: 50%;
    border-radius: 60px 0 0 60px; /* Adjusted for top right and bottom right corners */
}


.price_card_name {
    margin: 35px auto;
}

.price_card ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    text-align: left; /* Align text to the left */
}

.price_card li {
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
    position: relative;
    z-index: 2;
}

.price_card.material {
    padding: 30px 15px 0 15px
}

@media screen and (max-width: 990px) {
    .price_list {
        width: 90%;
    }
}

@media screen and (max-width: 770px) {
    .price_list {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .service_name_pricelist {
        width: 60%;
    }

    .price_text {
        width: 70%;
    }
}

@media screen and (max-width: 360px) {

    .service_name_pricelist {
        width: 60%;
        font-size: 15px;
    }

    .price {
        font-size: 15px
    }
}

/*gallery*/

.gallery_container {
    background: var(--white_color);
    background-repeat: no-repeat;
    background-position-y: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 7%;
}

.transitional_gallery {
    margin-top: 40px;
}

.gallery_text {
    margin-bottom: 7%;
}

#gallery {
    display: grid;
    grid-template-columns: [col1-start] 2fr  [col2-start] 2fr  [col3-start] 2fr [col4-start] 2fr [col5-start] 2fr [col5-end];
    grid-template-rows: [row1-start] 50% [row2-start] 50% [row2-end];
}

.gallery-item {
    overflow: hidden;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    /* transition: transform 0.2s ease-in-out;*/
}

.pic-1 {
    grid-column: col4-start;
    grid-row: row1-start;
}

.pic-2 {
    grid-column: col3-start / col5-start;
    grid-row: row2-start;
}

.pic-3 {
    grid-column: col5-start / col5-end;
    grid-row: row1-start / row2-end;
}

.pic-4 {
    grid-column: col2-start;
    grid-row: row2-start;
}

.pic-5 {
    grid-column: col2-start / col4-start;
    grid-row: row1-start;
}

.pic-6 {
    grid-column: col1-start/ col2-start;
    grid-row: row1-start / row2-end;
}


.gallery-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#modal img {
    width: 30%;

}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--white_color);
    font-size: 24px;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: var(--white_color);
    cursor: pointer;
    background: none;
    border: none;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

@media screen and (max-width: 600px) {
    #gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery-item {
        padding: 3px 0 0 0;
    }
}

/*** -workingHours page- ***/
.workingHours_container {
    background: var(--white_color);
    background-repeat: no-repeat;
    background-position-y: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 7%;
}

.workingHours_grid_container {
    display: flex;
    justify-content: space-evenly;
}

.workingHours {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}

.divider3 {
    width: 100px;
    height: 1px;
    background: #af936b;
    margin: 0 auto
}

.working_hours__table,
td,
th {
    text-align: center;
}

.working_hours__table {
    table-layout: fixed;
    width: 41%;
    margin: auto 0;
    height: 88%;
}

.weekend {
    color: var(--primary_color) !important;
}

@media screen and (max-width: 990px) {
    .working_hours__table {
        width: 47%;
    }

    .workingHours {
        margin-top: 5%;
    }
}

@media screen and (max-width: 990px) {
    .workingHours {
        margin-top: 5%;
    }
}

@media screen and (max-width: 920px) {
    .workingHours_grid_container {
        width: 100%;
    }
    .working_hours__table{
        width: 65%;
        height: 500px;
    }
    .workingHours {
        flex-direction: column;
        gap: 0;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 660px) {
    .working_hours__table {
        width: 95%;
    }
}
@media screen and (max-width: 460px) {

    .working_hours__table tbody tr{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 24px;
    }

    .workingHours_img_container{
        width: 92%
    }
    .workingHours_img {
        margin-left: 15%;
        width: inherit;
    }

}

/*footer*/

.footer_container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 4%, rgba(206, 177, 156, 1) 4%);
    color: var(--heading_color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 7%;
}

.footer_heading {
    margin-top: 8%;
}

.footer_container::before,
.footer_container::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    width: 50%;
    height: 88px;
    background: #ceb19c;
}

.footer_container::before {
    left: 0;
    border-radius: 0 50px 0 0;
}

.footer_container::after {
    right: 0;
    border-radius: 50px 0 0 0;
}

.social_media {
    margin: 60px 0;

}

.social_media {
    display: flex;
    gap: 10px; /* Adjust the gap between icons */
}

.icon-link {
    text-decoration: none;
}

.icon-box {
    width: 50px; /* Adjust the width of the rounded box */
    height: 50px; /* Adjust the height of the rounded box */
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    overflow: hidden;
    background-color: var(--white_color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.icon-img {
    width: 70%; /* Adjust the size of the icon */
    height: auto;
}


.footer_data {
    display: flex;
    align-items: stretch;
    gap: 70px
}

.info {
    text-align: center;
}

.info p {
    line-height: 1.2;
}

@media screen and (max-width: 990px) {
    .footer_heading {
        margin-top: 25%;
    }

    .footer_data {
        flex-direction: column;
        gap: 0;
    }

    .text {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    iframe {
        width: 100%;
    }
}
